html {
    scroll-behavior: smooth;  /* This enables smooth scrolling */
}


body {
    margin: 0; /*margin and padding of body needa be 0 if not banner wont fill edges */
    padding: 0;
    background-color: #1e1e2e;
    font-family: "Inter", system-ui, sans-serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181825;
    padding: 20px 50px;
    color: #CDD6F4;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu a {
    color: #CDD6F4;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #ca9ee6;
}

.get-started-btn {
    background-color: #181825;
    color: #CDD6F4;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #ca9ee6;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: none;
    transition: all 0.2s ease;
}

.get-started-btn:hover {
    background-color: #ca9ee6; 
    color: #181825;
}

.welcome-section {
    text-align: center;
    margin-top: 250px;
}

.welcome-section h1 {
    font-size: 50px;
    color: #ca9ee6;
}

.about-section {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 300px;
    text-align: justify;
}

.about-section h1 {
    color:#CDD6F4;
    font-size: 25px;
}

.about-section p {
    color:#B9C2DE;
    font-size: 20px;
    line-height: 1.6;
}

.features-section {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 200px;
    text-align: justify;
}

.features-section h1, h2 {
    color:#CDD6F4;
    font-size: 25px;
}

.feature p {
    color:#B9C2DE;
    font-size: 20px;
    line-height: 1.6;
}

.about-section, .features-section {
    scroll-margin-top: 150px;
}

